[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[C200FAAA00FAA497]
row=0
col=0

[F4BD-0424]
row=3
col=0

[64DEC0C9DEC09528]
row=2
col=0

[44BEC064BEC0505A]
row=1
col=0

[Papelera]
row=4
col=0

[/]
row=5
col=0

[/home/brandon]
row=0
col=1

